#Technologies {
  padding: 6rem 6rem;              
  scroll-margin-top: 90px;
  max-width: 1200px;               
  margin: 0 auto;                  
}

.techTitle {
  text-align: center;
  margin-bottom: 4rem;            
  font-size: 3rem;
}

.techGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-items: center;
  justify-content: center;          
}



.techCard {
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.techCard span {
  font-size: 0.9rem;
}

.techCard:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .technologiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Technologies {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .technologiesTitle {
    margin-left: -0.5rem;
  }

  .techGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  .techCard {
    transform: scale(0.9);
  }
}

